body{
    background-color: black;
}

.heading{
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #ff10f0;
    
    text-align: center;
    text-decoration-line: underline;
    color: #ff10f0
}

.container{
    margin: auto;
    width: 70%;
    padding: 40px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    color: #ff10f0;
}

h2{
    text-align: center;
    opacity: 100%;
}

p{
    text-align: center;
    opacity: 100%;
}

.btncard {
    margin: auto;
    width: 20%;
    padding: 40px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    color: #ff10f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background-color: #ff10f0;
    border-color: #ff10f0;
}