body {
    background-color: black;
}

.heading {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #ff10f0;
    
    text-align: center;
    text-decoration-line: underline;
    color: #ff10f0
}

.container {
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 40px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    color: #ff10f0;
}

h2 {
    text-align: center;
    opacity: 100%;
}

p {
    text-align: center;
    opacity: 100%;
}

.btncard {
    margin: auto;
    width: 20%;
    padding: 40px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    color: #ff10f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.btnbox{
    margin: auto;
    width: 50px;
    padding: 20px;

    text-align: center;
}

h2{
    text-align: center;
    opacity: 100%;
}

p{
    text-align: center;
    opacity: 100%;
}

button{
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background-color: #ff10f0;
    border-color: #ff10f0;
}

body.mouse{
    background-color: #ff10f0;
    cursor: url('unicorn1.cur'), auto;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

a.mouse{
    width: 1px;
    height: 1px;
    color: #ff10f0;
    position: absolute;
    transition: 900ms linear;
}

@keyframes unicorn1 {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes unicorn2 {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-100%) rotate(42deg);
    }
}

@keyframes unicorn3 {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-100%) rotate(67deg);
    }
}

@keyframes unicorn4 {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-100%) rotate(242deg);
    }
}

@keyframes unicorn5 {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-100%) rotate(360deg);
    }
}
